# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 26.1.1
accelerate=1.13.0=pypi_0
aiohappyeyeballs=2.6.1=pypi_0
aiohttp=3.13.5=pypi_0
aiosignal=1.4.0=pypi_0
annotated-doc=0.0.4=pypi_0
anyio=4.13.0=pypi_0
argon2-cffi=25.1.0=pypi_0
argon2-cffi-bindings=25.1.0=pypi_0
arrow=1.4.0=pypi_0
asttokens=3.0.1=pypi_0
async-lru=2.3.0=pypi_0
attrs=26.1.0=pypi_0
babel=2.18.0=pypi_0
beautifulsoup4=4.14.3=pypi_0
bitsandbytes=0.49.2=pypi_0
bleach=6.3.0=pypi_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2026.3.19=haa95532_0
certifi=2026.4.22=pypi_0
cffi=2.0.0=pypi_0
charset-normalizer=3.4.7=pypi_0
click=8.3.3=pypi_0
colorama=0.4.6=pypi_0
comm=0.2.3=pypi_0
datasets=4.8.5=pypi_0
debugpy=1.8.20=pypi_0
decorator=5.2.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.4.1=pypi_0
executing=2.2.1=pypi_0
fastjsonschema=2.21.2=pypi_0
filelock=3.29.0=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.8.0=pypi_0
fsspec=2026.2.0=pypi_0
h11=0.16.0=pypi_0
hf-xet=1.4.3=pypi_0
httpcore=1.0.9=pypi_0
httpx=0.28.1=pypi_0
huggingface-hub=1.13.0=pypi_0
idna=3.13=pypi_0
ipykernel=7.2.0=pypi_0
ipython=9.13.0=pypi_0
ipython-pygments-lexers=1.1.1=pypi_0
ipywidgets=8.1.8=pypi_0
isoduration=20.11.0=pypi_0
jedi=0.19.2=pypi_0
jinja2=3.1.6=pypi_0
json5=0.14.0=pypi_0
jsonpointer=3.1.1=pypi_0
jsonschema=4.26.0=pypi_0
jsonschema-specifications=2025.9.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-client=8.8.0=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-core=5.9.1=pypi_0
jupyter-events=0.12.1=pypi_0
jupyter-lsp=2.3.1=pypi_0
jupyter-server=2.17.0=pypi_0
jupyter-server-terminals=0.5.4=pypi_0
jupyterlab=4.5.7=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.28.0=pypi_0
jupyterlab-widgets=3.0.16=pypi_0
lark=1.3.1=pypi_0
libexpat=2.7.5=hd7fb8db_0
libffi=3.4.8=h2b21627_2
libzlib=1.3.1=h1c6eee0_1
markdown-it-py=4.0.0=pypi_0
markupsafe=3.0.3=pypi_0
matplotlib-inline=0.2.1=pypi_0
mdurl=0.1.2=pypi_0
mistune=3.2.0=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.7.1=pypi_0
multiprocess=0.70.19=pypi_0
nbclient=0.10.4=pypi_0
nbconvert=7.17.1=pypi_0
nbformat=5.10.4=pypi_0
nest-asyncio=1.6.0=pypi_0
networkx=3.6.1=pypi_0
notebook=7.5.6=pypi_0
notebook-shim=0.2.4=pypi_0
numpy=2.4.4=pypi_0
openssl=3.5.6=hbb43b14_0
overrides=7.7.0=pypi_0
packaging=26.0=py311haa95532_0
pandas=3.0.2=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.6=pypi_0
peft=0.19.1=pypi_0
pillow=12.1.1=pypi_0
pip=26.0.1=pyhc872135_1
platformdirs=4.9.6=pypi_0
prometheus-client=0.25.0=pypi_0
prompt-toolkit=3.0.52=pypi_0
propcache=0.4.1=pypi_0
psutil=7.2.2=pypi_0
pure-eval=0.2.3=pypi_0
pyarrow=24.0.0=pypi_0
pycparser=3.0=pypi_0
pygments=2.20.0=pypi_0
python=3.11.15=h1044e36_0
python-dateutil=2.9.0.post0=pypi_0
python-json-logger=4.1.0=pypi_0
pywinpty=3.0.3=pypi_0
pyyaml=6.0.3=pypi_0
pyzmq=27.1.0=pypi_0
referencing=0.37.0=pypi_0
regex=2026.4.4=pypi_0
requests=2.33.1=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rfc3987-syntax=1.1.0=pypi_0
rich=15.0.0=pypi_0
rpds-py=0.30.0=pypi_0
safetensors=0.7.0=pypi_0
send2trash=2.1.0=pypi_0
setuptools=70.2.0=pypi_0
shellingham=1.5.4=pypi_0
six=1.17.0=pypi_0
soupsieve=2.8.3=pypi_0
sqlite=3.51.2=hee5a0db_0
stack-data=0.6.3=pypi_0
sympy=1.14.0=pypi_0
terminado=0.18.1=pypi_0
tinycss2=1.4.0=pypi_0
tk=8.6.15=hf199647_0
tokenizers=0.22.2=pypi_0
torch=2.11.0+cu130=pypi_0
torchvision=0.26.0+cu130=pypi_0
tornado=6.5.5=pypi_0
tqdm=4.67.3=pypi_0
traitlets=5.14.3=pypi_0
transformers=5.7.0=pypi_0
typer=0.25.0=pypi_0
typing-extensions=4.15.0=pypi_0
tzdata=2026.2=pypi_0
ucrt=10.0.22621.0=haa95532_0
uri-template=1.3.0=pypi_0
urllib3=2.6.3=pypi_0
vc=14.3=h2df5915_10
vc14_runtime=14.44.35208=h4927774_10
vs2015_runtime=14.44.35208=ha6b5a95_10
wcwidth=0.6.0=pypi_0
webcolors=25.10.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.9.0=pypi_0
wheel=0.46.3=py311haa95532_0
widgetsnbextension=4.0.15=pypi_0
xxhash=3.7.0=pypi_0
xz=5.8.2=h53af0af_0
yarl=1.23.0=pypi_0
zlib=1.3.1=h1c6eee0_1
